Checks: >-
  cert-*,
  bugprone-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  concurrency-*,
  cppcoreguidelines-*,
  llvm-*,
  google-explicit-constructor,
  -modernize-use-auto,
  -modernize-use-trailing-return-type,
  -readability-avoid-const-params-in-decls

WarningsAsErrors: ''

HeaderFilterRegex: '^(<)|(")|()utopia/'

AnalyzeTemporaryDtors: false

FormatStyle:     file

User:            mingmoe

CheckOptions:
